body {
    color: white;
    background-color: #e8968b;
}

.loading {
    color: #e8968b !important;
    background-color: white !important;
}

body,
.page,
.title-page,
.loading,
.loading-text .endpage,
.image img,
video {
    height: 100vh;
}

.page,
.loading,
.loading-text {
    width: 100vw;
}

.page,
.loading {
    top: 0
}

.page,
#pc2-link {
    left: 0;
}

body,
.page,
.title-page div p,
.fullscreen,
.loading,
.loading-text,
.endpage div p,
.text p {
    margin: 0;
}

.loading,
.loading-text,
.fullscreen,
.enter p,
.restart p,
:-webkit-full-screen .restart p {
    padding: 0;
}

.pc-title {
    width: 90%;
    margin: 10vh 5vw 0;
}

:-webkit-full-screen .pc-title {
    margin-top: 20vh;
}

.text-indent {
    margin: 0 10vw 0 22.5vw;
    text-align: right;
    text-indent: -10vw;
}

.text .caption {
    width: 70%;
    padding: 10vh 5vw 20vh;
}

:-webkit-full-screen .text .caption {
    padding-top: 15vh;
}

.loading-text {
    line-height: 100vh;
}

.fullscreen {
    width: 18vw;
    height: 13vh;
    bottom: 4.5vw;
    right: 5vw;
    border-bottom: 0.07em solid #e8968b;
}

.ft-reminder {
    height: 2.5vw;
    top: 7.5vh;
    right: 7.5vw;
}

:-webkit-full-screen .ft-reminder {
    top: 30vh;
}

.ft {
    transform: rotate(20deg);
}

#ff {
    right: 5vw;
}

.ft,
#ff {
    height: 75% !important;
}

#ff-text {
    top: -1vh;
    right: 15vw;
    z-index: 99999;
    transform: rotate(-30deg);
}

:-webkit-full-screen #ff-text {
    top: 0;
}

.arrow_l {
    height: 5vw;
    top: -25vh;
    right: 15vw;
}

:-webkit-full-screen .arrow_l {
    right: 12.5vw;
}

.image img,
.ft-holder img {
    border: 0.1vw solid black;
}

#pc2-img {
    margin-top: 5vh;
}

#pc2-link {
    top: -3vh;
    margin-left: 12.5vw;
    text-decoration: underline;
}

#pc2-img,
#pc2-link {
    width: 75vw;
}

#pc2text {
    height: 15vh;
}

#pc2text .text-indent img {
    width: 1em;
    margin-top: 0;
    padding-right: 1vw;
}

.arrow_l,
#pc2text img {
    border: none !important;
}

#pc2-img,
#pc2text .text-indent img {
    height: auto;
}

.ft-reminder,
#ff-text {
    position: absolute;
}

.title-page div p,
.endpage div p,
.page,
.fullscreen,
.loading,
.image img,
video {
    position: fixed;
}

.text,
.text-indent,
#pc2 .image img,
#pc2text .text-indent {
    position: relative;
}

.heading p {
    padding-left: 5vw;
    top: calc(15vh + 10px);
}

.enter p,
.restart p,
.instagram p {
    bottom: calc(15vh + 10px);
}

.enter p,
.restart p {
    left: 5vw;
    border-bottom: 0.05em solid white;
}

.restart p,
.instagram p {
    height: 15vh;
}

:-webkit-full-screen .restart p,
:-webkit-full-screen .instagram p {
    height: 13vh;
}

.enter p,
:-webkit-full-screen .restart p {
    padding-bottom: 0.03em;
}

.enter p {
    width: 18vw;
}

.restart p {
    width: 40vw;
    padding-bottom: 0.1em;
}

.instagram p {
    width: 2.5vw;
    right: 10vw;
}

.loading-text,
.fullscreen {
    z-index: 999;
}

.title-page,
.loading,
.ft,
#ff {
    z-index: 9999;
}

.image,
#pc2-link {
    display: flex;
}

.page,
:-webkit-full-screen .fullscreen,
.loading,
.ft-reminder,
#ff,
#ff-text,
#resource-loader {
    display: none;
}

#pc2 .image {
    flex-direction: column;
}

.image,
.loading {
    justify-content: center;
    align-items: center;
}

p,
img,
video,
.loading {
    user-select: none;
}

.loading,
.loading-text {
    pointer-events: none;
}

/* typography */
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10vw;
    line-height: 0.9em;
    letter-spacing: -0.2vw;
}

.text .caption {
    line-height: 1em;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.enter p {
    font-size: 90%;
}

.restart p {
    font-size: 80%;
}

.title-text p {
    font-size: 72.5%;
    line-height: 8.5vw;
}

.text .caption,
.fullscreen,
#pc2-link,
.instagram p {
    font-size: 50%;
}

#ff-text {
    font-size: 40%;
}

.ft-reminder {
    font-size: 30%;
}

.text .caption #ff-text,
.ft-reminder,
#pc2-link {
    letter-spacing: -0.1vw;
}

.heading p,
.pc-title,
.fullscreen,
.loading-text,
.text .caption,
.enter p:active,
.restart p:active,
#ff-text,
#pc2-link {
    font-style: italic;
}

.loading-text,
.fullscreen {
    text-align: center;
}

/* cursor  */
.title-page,
.instagram,
.ft,
#ff {
    cursor: -webkit-image-set(url(cursor/auto_yt.svg) 2.5x) 5 5, auto;
}

.fullscreen,
#pc2-img,
#pc2-link {
    cursor: -webkit-image-set(url(cursor/auto_clr.svg) 2.5x) 5 5, pointer;
}

.endpage {
    cursor: -webkit-image-set(url(cursor/prev_yt.svg) 2.5x) 5 5, auto;
}

.enter p:hover {
    cursor: -webkit-image-set(url(cursor/next_yt.svg) 2.5x) 5 5, pointer;
}

.restart {
    cursor: -webkit-image-set(url(cursor/replay_yt.svg) 2.5x) 5 5, pointer;
}

video {
    cursor: -webkit-image-set(url(cursor/replay_clr.svg) 2.5x) 5 5, pointer;
}
